
body{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 980px;
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    
}
.name{
    font-size: 30px;
    position: relative;
    top: 30px;
    font-weight: bold;
}
/**/
.div_img{
    display: flex;
    align-items: center;
    justify-content: start;
}
img{
    
}
.titulo__secoes{
    background-color: #f4f4f4;
    margin-top: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
.titulo{
    margin-left: 10px;
}
.p__pessoais{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 5px;
}
ul{
    padding-left: 20px;
}
.li__titulo{
    font-weight: bold;

}
.span__info{
    font-size: 12px;
    font-weight: bold;
    
}
.data{
    position: absolute;
    right: 300px;
}
.divvv li {
    margin-top: 1rem;

}
.tel{
    font-weight: bold;
    display: flex;
}